<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-8">
          <form class="form_main" (ngSubmit)="addIngredient()">
            <p class="heading">Agregar Ingrediente</p>
            <div class="inputContainer">
            <input name="nombre" [(ngModel)]="regIngredient.nombre" placeholder="Ingrediente" class="inputField" type="text" >
            </div>
        <div class="inputContainer">
            <input name="unidadMedida" [(ngModel)]="regIngredient.unidadMedida" placeholder="Unidad Medida"  class="inputField" type="text" >
        </div>   
        <button id="button">Agregar</button>
        </form>
                 
                </div>
              </div>
</div>
